:root {
    --background-color: #000000;
}

@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/Lato-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
    background-color: var(--background-color) !important;
    min-height: 100vh;
}

.text-input {
    font-family: 'LatoWeb', sans-serif;
}
